<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite name="Bridge Automation Test Suite">
	<test name="Bridge Test Cases">
		<classes>
			<class name="BridgeTest.Com.Bridge.Test.BridgeLoginTest"></class>
			<class name="BridgeTest.Com.Bridge.Test.BridgeHomeTest"></class>
		</classes>
	</test>
</suite>